<h1>About Us</h1>
<h1>Description of data used:</h1>
<p>Pokemon table which contains: Pokemon id, pokemon name, attack type, and ability</p>
<p>Attack types table which contains: Attack type id, and the attack type name</p>
<p>Abilities table which contains: Ability ID, ability name, and the ability effect</p>
<p>A pokemon has one attack type, while an attack type can have many Pokemon</p>
<p>A pokemon can have one special ability, while an ability can be used by many different pokemon</p>
<p>ERD image below</p>
<img src="/assets/images/erdPokemon.PNG" alt="ERD">